$black-color: #000000;
$red-color: #FF3D57;
$active-component-color: #0341fc;
$gray-color: #535454;
$gray-light-color: #b3b3b3;
$white-color: #FFFFFF;
$almost-white-color: #F9F7F5;
$very-light-gray-color: #EAEDF0;